:root {
  --primary-color: #134d71;
  --secondary-color: #0056b3;
  --text-color: #ffffff;
  --background-color: #f0f0f0;
  --highlight-color: #f7e4bf;
  --font-family-default: "Quicksand", sans-serif;
  --button-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Base element styles */
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: var(--font-family-default);
  text-align: center;
}

body,
html {
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--highlight-color)
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Typography */
h1,
h2,
h3 {
  color: var(--text-color);
}

h1 {
  margin: 25px;
}

h2,
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

.add-message-title,
.message-text-card {
  color: var(--primary-color);
}

.message-text {
  font-size: 30px;
  padding-bottom: 10px;
  margin: 0px;
  overflow-wrap: break-word;
}

.message-text-card {
  width: 100%;
  font-size: 24px;
  padding: 20px 5px;
  margin: 0px;
  overflow-wrap: break-word;
}

.no-favorites-message {
  font-style: italic;
}

/* Form styling */
.form,
.message-fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: none;
}

.button-box,
.message-form-row {
  margin: 5px 0;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-box {
  width: 100%;
  justify-content: center;
}

/* Main Layout and Sections */
main {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 25px;
}

.message-section {
  padding: 10px;
}

#message-type-fieldset,
#add-message-fieldset {
  padding-top: 10px;
}

#message-type-fieldset {
  max-width: 600px;
}

#add-message-fieldset {
  max-width: 800px;
}

.message-fieldset,
.message-container {
  color: #000000;
  background: #ffffff;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 0;
}

/* Message Cards */
.message-container,
.message-category,
.message-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.message-container {
  max-width: 800px;
  min-width: 100px;
  min-height: 195px;
  position: relative;
}

.message-category {
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-card {
  flex: 1 1 200px;
  max-width: 400px;
  min-width: 250px;
  min-height: 150px;
  position: relative;
  color: #000000;
  background: var(--background-color);
  border-radius: 8px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 0;
  transition: transform 0.3s ease;
  cursor: grab;
}

.message-card:active,
.message-card:focus {
  cursor: grabbing;
  opacity: 0.8;
}

.message-card.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.placeholder {
  border: 2px dashed #000000;
  margin: 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

/* Buttons and Interactions */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab,
.options-button {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  background-color: #134d71;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  z-index: 1000;
}

.options-menu {
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  position: absolute;
  bottom: 60px;
  right: -5px;
  z-index: 1100;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
}

.options-button {
  font-family: "Arial", sans-serif;
}

.fab:hover,
.options-button:hover {
  background-color: #0056b3;
}

.options-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-menu ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.options-menu ul li a:hover {
  background-color: #f0f0f0;
}

.favorite-button, .delete-button {
  position: absolute;
  top: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.favorite-button {
  right: 5px;
}

.delete-button {
  left: 5px;
}

.favorite-button:focus,
.favorite-button:hover,
.delete-button:focus,
.delete-button:hover {
  outline: none;
}

.favorite-button:active .heart-regular-icon,
.favorite-button:active .heart-solid-icon,
.delete-button:active .trash-solid-icon {
  transform: scale(0.9);
}

/* Form Buttons */
#clearButton,
#submitButton,
#createMessage,
#cancel {
  margin-left: 2px;
  margin-right: 2px;
}

.message-fieldset button {
  background-color: #78a7c6;
  color: #000000;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px 0;
  font-weight: 500;
  font-size: medium;
}

.message-fieldset button:enabled:hover {
  background-color: #002244;
}

.message-fieldset button:enabled {
  background-color: #134d71;
  color: #ffffff;
  cursor: pointer;
}

/* Radio Button Styles */
.radio-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.radio-buttons label {
  font-style: italic;
  overflow-wrap: break-word;
  max-width: 90%;
}

/* Form Styles & Validation */
.message-type-input {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.message-type-input > * {
  flex: 1 1 auto;
  min-width: 100%;
}

select {
  display: block;
  width: auto;
}

textarea[id="messageTextInput"] {
  width: 60%;
  min-width: 100px;
}

/* Icon & SVG Styling */
.meditation-icon {
  width: 65px;
  margin: 30px auto;
}

.heart-regular-icon,
.heart-solid-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.heart-solid-icon {
  filter: brightness(0) saturate(100%) invert(26%) sepia(95%) saturate(6000%)
    hue-rotate(346deg) brightness(100%) contrast(89%);
}

.heart-regular-icon, .trash-solid-icon {
  filter: brightness(0) saturate(100%) invert(21%) sepia(57%) saturate(742%)
    hue-rotate(174deg) brightness(91%) contrast(89%);
}

.trash-solid-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

/* Utility classes */
.hidden {
  display: none;
}

.legend-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}
