/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

html {
  background: linear-gradient(to bottom, #134d71, #f7e4bf);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #ffffff;
}

h1 {
  margin: 25px;
}

h2,
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  align-self: center;
}

.add-message-title {
  color: #134d71;
}

.message-text {
  font-size: 30px;
  padding-bottom: 10px;
  margin: 0px;
  overflow-wrap: break-word;
}

main {
  min-height: calc(100vh - 40px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 25px;
}

.message-section {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

#message-type-fieldset {
  max-width: 600px;
}

#add-message-fieldset {
  padding: 10px 0 0 0;
  max-width: 800px;
}

.form {
  flex: 1;
}

.message-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.message-form-row {
  margin: 5px 0px;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button-box {
  margin: 5px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#clearButton,
#submitButton,
#createMessage,
#cancel {
  margin-left: 2px;
  margin-right: 2px;
}

.message-container {
  max-width: 800px;
  min-width: 100px;
  min-height: 195px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.message-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
}

.message-card {
  flex: 1 1 200px;
  max-width: 400px;
  min-width: 250px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #000000;
  background: #ffffff;
  border-radius: 8px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 0;
  transition: transform 0.3s ease;
  cursor: grab;
}

.message-card:active, .message-card:focus {
  cursor: grabbing;
  opacity: 0.8;
}

.message-card.dragging {
  opacity: 0.5;
  cursor: grabbing;
}

.placeholder {
  border: 2px dashed #000000;
  margin: 5px;
  border-radius: 8px;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}


.message-text-card {
  width: 100%;
  font-size: 24px;
  padding: 20px 5px;
  margin: 0px;
  overflow-wrap: break-word;
}

.message-fieldset,
.message-container {
  color: #000000;
  background: #ffffff;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 0;
}

.radio-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.radio-buttons label {
  font-style: italic;
  overflow-wrap: break-word;
  max-width: 90%;
}

.message-fieldset button {
  background-color: #78a7c6;
  color: #000000;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: not-allowed;
  transition: background-color 0.3s, color 0.3s;
  margin: 5px 0;
  font-weight: 500;
  font-size: medium;
}

.message-fieldset button:enabled:hover {
  background-color: #002244;
}

.message-fieldset button:enabled {
  background-color: #134d71;
  color: #ffffff;
  cursor: pointer;
}

.message-type-input {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
}

.message-type-input > * {
  flex: 1 1 auto;
  min-width: 100%;
}

select {
  display: block;
  width: auto;
}

textarea[id="messageTextInput"] {
  width: 60%;
  min-width: 100px;
}

.meditation-icon {
  width: 65px;
  margin: 30px auto;
}

.hidden {
  display: none;
}

.legend-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab, .options-button {
  width: 56px;
  height: 56px;
  padding: 0;
  border-radius: 50%;
  background-color: #134d71;
  color: white;
  font-size: 24px;
  text-align: center;
  line-height: 56px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  margin-top: 10px;
  z-index: 1000;
}

.options-button {
  font-family: 'Arial', sans-serif;
}

.fab:hover, .options-button:hover {
  background-color: #0056b3;
}

.options-menu {
  width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 10px 0;
  position: absolute;
  bottom: 60px;
  right: -5px;
  z-index: 1100;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc; 
}

.options-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.options-menu ul li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.options-menu ul li a:hover {
  background-color: #f0f0f0;
}

.favorite-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  background: none;
  cursor: pointer;
}

.favorite-button:focus,
.favorite-btn:hover {
  outline: none;
}

.heart-regular-icon,
.heart-solid-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.heart-solid-icon {
  filter: brightness(0) saturate(100%) invert(26%) sepia(95%) saturate(6000%)
    hue-rotate(346deg) brightness(100%) contrast(89%);
}

.heart-regular-icon {
  filter: brightness(0) saturate(100%) invert(21%) sepia(57%) saturate(742%)
    hue-rotate(174deg) brightness(91%) contrast(89%);
}

.favorite-button:active .heart-regular-icon,
.heart-solid-icon {
  transform: scale(0.9);
}

.message-category {
  margin-top: 20px;
  margin-bottom: 20px;
}

.message-category h3 {
  padding-left: 10px;
}